$whiteLine: rgba(255,255,255,0.5);
$form-bar: 6%;
$form-size: 50%;
$page-size: 100%-$form-bar;
$bg-color: rgba(127,127,127,.2);

.dimmed{
    width: 110vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    transition: all 0.6s;
    // transform: translate(-120vw);
    visibility: hidden;
}
#page{
    visibility: hidden;
    max-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#first{
    position: relative;
    z-index: 3;
    color: white;
    padding: 62px 0 0 92px;
    box-sizing: border-box;
    width: $page-size;
    height: 100vh;
    display: inline-block;
    opacity: 0;
    transition: all 1s 0.5s;

    nav{
        display: inline-block;
        border-bottom: 1px solid $whiteLine;
        padding-bottom: px-to-rem(18px);
        padding-right: px-to-rem(72px);

        li{
            display: inline-block;
            padding: 0 px-to-rem(30px);
        }
        li:first-child{padding-left: 0;}

        a{
            transition: opacity .1s;

            &:hover{
                opacity: 0.8;
            }
        }
    }
    article{
        margin-top: px-to-rem(157px);

        h1{
            font-size: px-to-rem(36px);
        }
        p{
            margin: px-to-rem(40px) 0;
            width: px-to-rem(640px);
            line-height: 160%;
        }
        button{
            background-color: #404040;
            color: #e8fff7;
            padding: .8em 1.4em;
            padding-right: 16em;
            transition: opacity 0.2s;
            &:hover{
                opacity: .6;
            }
        }
    }
}

#register{
    $sidebar-trans-time: .6s;
    $sidebar-trans-delay: 1s;

    width: $page-size+$form-bar+$form-size;
    display: flex;
    position: absolute;
    transition: all $sidebar-trans-time $sidebar-trans-delay;
    transform: translateX(200px);

    #empty-section{
        width: $page-size;
        height: 100vh;
    }
    #visible-sec{
        width: $form-bar;
        height: 100vh;
        background-color: $bg-color;
        display: flex;
        opacity: .8;
        flex-direction: column;
        justify-content: flex-start;
        color: #f4f4f4;
        font-size: px-to-rem(18px);
        align-items: center;
        transition: opacity 1.4s;
        span{
            writing-mode: vertical-rl;
            text-orientation: upright;
            margin:8vh 1.7vw;
            transition: opacity .6s;

            i{
                font-size: px-to-rem(25px);
                margin-bottom:px-to-rem(14px);
            }
        }
        h4{
            writing-mode: vertical-rl;
            text-orientation: mixed;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: opacity .6s;
            margin:2vh 1.7vw;
        }
    }
    #form-sec{
        background-color: $bg-color;
        height: 100vh;
        width: $form-size;
        color: white;
        box-sizing: border-box;
        padding-top: 30vh;
        opacity: .8;

        h2{
            font-size: px-to-rem(30px);
            margin-bottom: px-to-rem(52px);
        }
        input:not([type="submit"]){
            display:block;
            background-color: transparent;
            border-bottom: 1px solid rgba(255,255,255,.8);
            margin: px-to-rem(50px) 0;
            padding: 6px 18px;
        }
        input[type="submit"]{
            background-color: white;
            color: #3a3a3a;
            padding: 0.4em 5.4em;
            border-radius: 4px;
            margin-left: 8px;
            margin-bottom: px-to-rem(66px);
            transition: all 0.3s;
            &:hover{
                opacity: 0.8;
                transform: scale(1.1);
            }
        }
        ::placeholder{ color: inherit;}
        a{
            color: #b29dff;
            &:hover{opacity: .7;}
        }
    }
}
